# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy.

To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook.

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [ ]:
# Imports
import pandas as pd
import tensorflow as tf
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [ ]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (6).csv

In [ ]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [ ]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [ ]:
# Create a list of categorical variables
categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]

# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [ ]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [ ]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
display(encoded_df)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [ ]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables = applicant_data_df.select_dtypes(include=['int64'])

encoded_df = pd.concat([encoded_df, numerical_variables], axis=1)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [ ]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [ ]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
display(X)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179

### Step 6: Split the features and target sets into training and testing datasets.

In [ ]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [ ]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [ ]:
# Create the Sequential model instance
nn = Sequential()

In [ ]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [ ]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [ ]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [ ]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_45 (Dense)            (None, 8)                 936

 dense_46 (Dense)            (None, 4)                 36

 dense_47 (Dense)            (None, 1)                 5

=================================================================
Total params: 977
Trainable params: 977
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [ ]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6612 - accuracy: 0.6220
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5968 - accuracy: 0.7138
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5775 - accuracy: 0.7255
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5696 - accuracy: 0.7287
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5674 - accuracy: 0.7296
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5656 - accuracy: 0.7298
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5654 - accuracy: 0.7296
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5647 - accuracy: 0.7302
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5642 - accuracy: 0.7310
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5638 - accuracy: 0.7310
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5639 - accuracy: 0.7299
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5635 - accuracy: 0.7310
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5630 - accuracy: 0.7310
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5627 - accuracy: 0.7322
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7319
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5624 - accuracy: 0.7325
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5618 - accuracy: 0.7327
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7325
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5619 - accuracy: 0.7336
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7329
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7338
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5613 - accuracy: 0.7341
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5611 - accuracy: 0.7333
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7345
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5608 - accuracy: 0.7343
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5607 - accuracy: 0.7351
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5600 - accuracy: 0.7349
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5600 - accuracy: 0.7347
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5599 - accuracy: 0.7346
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5599 - accuracy: 0.7342
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5595 - accuracy: 0.7346
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5596 - accuracy: 0.7346
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5595 - accuracy: 0.7351
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5596 - accuracy: 0.7344
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5595 - accuracy: 0.7351
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5593 - accuracy: 0.7346
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5592 - accuracy: 0.7345
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5591 - accuracy: 0.7348
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5592 - accuracy: 0.7352
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5591 - accuracy: 0.7357
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5589 - accuracy: 0.7356
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5591 - accuracy: 0.7338
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5590 - accuracy: 0.7347
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5588 - accuracy: 0.7348
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5584 - accuracy: 0.7355
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5588 - accuracy: 0.7355
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5585 - accuracy: 0.7355
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5585 - accuracy: 0.7362
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5586 - accuracy: 0.7359
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5583 - accuracy: 0.7361

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [ ]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=1)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 0s 874us/step - loss: 0.5695 - accuracy: 0.7296
Loss: 0.5695411562919617, Accuracy: 0.7295626997947693

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [ ]:
# Set the model's file path
file_path = Path('AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features_1 = len(X_train.iloc[0])

# Review the number of features
number_input_features_1

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 100

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

100

In [ ]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer1_A1_2 = 80

# Review the number of hidden nodes in the second layer
hidden_nodes_layer1_A1_2

80

In [ ]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer1_A1_3 = 60

# Review the number of hidden nodes in the third layer
hidden_nodes_layer1_A1_3

60

In [ ]:
# Define the number of hidden nodes for the fourth hidden layer
hidden_nodes_layer1_A1_4 = 20

# Review the number of hidden nodes in the fourth layer
hidden_nodes_layer1_A1_4

20

In [ ]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [ ]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features_1, activation="leaky_relu"))
# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1_2, activation='relu'))

# Third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1_3, activation='relu'))

# Fourth hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1_4, activation='relu'))


# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation='sigmoid'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_48 (Dense)            (None, 100)               11700

 dense_49 (Dense)            (None, 80)                8080

 dense_50 (Dense)            (None, 60)                4860

 dense_51 (Dense)            (None, 20)                1220

 dense_52 (Dense)            (None, 1)                 21

=================================================================
Total params: 25,881
Trainable params: 25,881
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5691 - accuracy: 0.7215
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5526 - accuracy: 0.7298
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7315
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7322
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7336
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7324
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7336
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7344
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7353
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7364
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7367
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7372
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7367
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7367
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7381
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7387
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7385
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7376
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7390
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7390
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7393
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7399
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7385
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7399
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7387
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7397
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7395
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7401
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7395
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7398
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7395
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7397
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7402
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7403
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7395
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7395
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7403
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7413
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7407
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7409
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7409
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7406
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7405
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7395
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7406
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7407
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5306 - accuracy: 0.7402
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7411

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 116

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

116

In [ ]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer1_A2_1 = 98

# Review the number of hidden nodes in the second layer
hidden_nodes_layer1_A2_1

98

In [ ]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer1_A2_2 = 72

# Review the number of hidden nodes in the third layer
hidden_nodes_layer1_A2_2

72

In [ ]:
# Define the number of hidden nodes for the fourth hidden layer
hidden_nodes_layer1_A2_3 = 58

# Review the number of hidden nodes in the fourth layer
hidden_nodes_layer1_A2_3

58

In [ ]:
# Define the number of hidden nodes for the fifth hidden layer
hidden_nodes_layer1_A2_4 = 46

# Review the number of hidden nodes in the fifth layer
hidden_nodes_layer1_A2_4

46

In [ ]:
# Define the number of hidden nodes for the sixth hidden layer
hidden_nodes_layer1_A2_5 = 20

# Review the number of hidden nodes in the sixth layer
hidden_nodes_layer1_A2_5

20

In [ ]:
# Define the number of hidden nodes for the seventh hidden layer
hidden_nodes_layer1_A2_6 = 8

# Review the number of hidden nodes in the seventh layer
hidden_nodes_layer1_A2_6

8

In [ ]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [ ]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features_1, activation='relu'))

# Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2_1, activation='leaky_relu'))

# Third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2_2, activation='leaky_relu'))

# Fourth hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2_3, activation='leaky_relu'))

# Fifth hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2_4, activation='leaky_relu'))

# Sixth hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2_5, activation='relu'))

# Seventh hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2_6, activation='relu'))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation='sigmoid'))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_53 (Dense)            (None, 116)               13572

 dense_54 (Dense)            (None, 98)                11466

 dense_55 (Dense)            (None, 72)                7128

 dense_56 (Dense)            (None, 58)                4234

 dense_57 (Dense)            (None, 46)                2714

 dense_58 (Dense)            (None, 20)                940

 dense_59 (Dense)            (None, 8)                 168

 dense_60 (Dense)            (None, 1)                 9

=================================================================
Total params: 40,231
Trainable params: 40,231
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5703 - accuracy: 0.7217
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7297
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7317
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7331
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7339
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7343
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7348
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7348
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7336
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7352
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7353
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7356
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7358
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7364
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7369
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7362
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7368
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7363
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7380
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7369
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7379
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7386
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7382
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7381
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7398
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7387
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7386
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7376
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7389
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7389
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7382
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7385
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7394
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7390
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7407
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7378
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7396
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7372
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7392
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7389
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7390
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7397
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7400
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7397
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7404
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7413
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7401
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7406
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7408

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=1)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 998us/step - loss: 0.5695 - accuracy: 0.7296
Loss: 0.5695411562919617, Accuracy: 0.7295626997947693

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=1)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 1ms/step - loss: 0.5593 - accuracy: 0.7319
Loss: 0.559317409992218, Accuracy: 0.7318950295448303

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=1)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7299
Loss: 0.551562488079071, Accuracy: 0.729912519454956

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = Path('AlphabetSoup_A1')

# Export your model to a HDF5 file
nn.save(file_path)

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

In [ ]:
# Set the file path for the second alternative model
file_path = Path('AlphabetSoup_A2')

# Export your model to a HDF5 file
nn.save(file_path)

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.